<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INStartWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Move head up in DewertOkin</string>
				<string>Move head down in DewertOkin</string>
				<string>Move feet up in DewertOkin</string>
				<string>Move feet down in DewertOkin</string>
				<string>Move head up</string>
				<string>Move head down</string>
				<string>Move feet up</string>
				<string>Move feet down</string>
				<string>Trigger memory 1 in DewertOkin</string>
				<string>Trigger memory 2 in DewertOkin</string>
				<string>Trigger memory 1</string>
				<string>Trigger memory 2</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INEndWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Stop moving head up in DewertOkin</string>
				<string>Stop moving down up in DewertOkin</string>
				<string>Stop moving feet up in DewertOkin</string>
				<string>Stop moving feet down in DewertOkin</string>
				<string>Stop moving head up</string>
				<string>Stop moving head down</string>
				<string>Stop moving feet up</string>
				<string>Stop moving feet down</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
